服务器IP:  104.224.163.100
端口:  29900
加速地址: 127.0.0.1:443
密码:  110316fifman
sndwnd:  512
rcvwnd:  512

当前安装的 Kcptun 版本为: 20170329
请前往 https://github.com/xtaci/kcptun/releases/tag/v20170329 手动下载客户端文件

可使用的客户端配置文件为:
{
    "localaddr": ":443",
    "remoteaddr": "104.224.163.100:29900",
    "key": "110316fifman",
    "crypt": "aes",
    "mode": "fast",
    "conn": 1,
    "autoexpire": 60,
    "mtu": 1350,
    "sndwnd": 512,
    "rcvwnd": 512,
    "datashard": 10,
    "parityshard": 3,
    "dscp": 0,
    "nocomp": false,
    "acknodelay": false,
    "nodelay": 0,
    "interval": 20,
    "resend": 2,
    "nc": 1,
    "sockbuf": 4194304,
    "keepalive": 10
}

手机端参数可以使用:
-autoexpire 60 -key "110316fifman"

nohup ~/Setup/Network/kcptun-darwin-amd64-20170329/client_darwin_amd64 -r "104.224.163.100:29900" -l ":8388" -mode fast -key 110316fifman  &
